{{ if eq .osid "darwin" }}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .osid "linux-linuxmint" -}}
#!/bin/bash
sudo apt-get update && sudo apt-get install -y {{ range .packages.linuxmint.packages }} {{ . }} {{ end }}

{{ else if eq .osid "linux-debian" }}

# Debian-specific code

{{ else if eq .osid "linux-fedora" }}

# Fedora-specific code

{{ end }}
